




    .container {  
        
    background-image: url('src/assets/emp/damir-kopezhanov-w-bRrLmXODg-unsplash.jpg'); 
    background-size: cover;
    background-position: center;

   
        display: grid;
        padding: 20px; 
        height: 100vh;
         opacity: 0.86;
         color:white;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.3fr 0.7fr 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "filler filler filler"
          "filler filler filler"
          "welcome welcome filler2"
          "button filler3 filler3"
          "filler4 filler3 filler3"
          "filler4 filler3 filler3";
      }
      
      .welcome { 
        grid-area: welcome;
        font-size: 3em;
        padding:.5em;
        font-weight: bolder;
        font-family: 'Ubuntu', sans-serif;
    
    
    }
      
      .filler { grid-area: filler; }
      
      .button { grid-area: button; }
      
      .filler2 { grid-area: filler2; }
      
      .filler3 { grid-area: filler3; }
      
      .filler4 { grid-area: filler4; }
      
      .btn{
        background-color: rgb(199,19,46);
        width: 100%;
      }